/* fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Roboto:300&display=swap');

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Montserrat", sans-serif;
    color: #0c1f4a;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #0c1f4a;
}

/* navbar */
.navbar-inverse {
    background-color: #0c1f4a;
    border-color: #fff;
}

/* container-fluid */
.container-fluid {
    background-color: #fff;
}


/* buttons */
.btn-default {
    color: #ffffff;
    background-color: #0c1f4a;
    border-color: #0c1f4a;
}

.btn-default:focus,.btn-default.focus {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #337ab7;
    border-color: #337ab7;
}











